﻿@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Шаблонатор - @ViewData["Title"]</title>
    <meta name="description" content="">
    <link rel="icon" href="../../favicon.ico">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/datatables.css" rel="stylesheet" />
        <link href="~/css/datepicker.css" rel="stylesheet"/>
        <link href="~/css/responsive.dataTables.css" rel="stylesheet" />
     
  
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/lib/html5shiv/dist/html5shiv.min.js"></script>
      <script src="~/lib/respondJs/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">*@
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Organizations" asp-action="Index" class="navbar-brand">Шаблонатор</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
              
          
                        <li><a asp-controller="Organizations" asp-action="Index">Организации</a></li>

                        <li><a asp-controller="Auction" asp-action="GetMyList">Мои документы</a></li>
                 
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Администрирование <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Admin" asp-action="UserList">Список пользователей</a></li>
                                <li><a asp-controller="Organizations" asp-action="GetList">Список организаций</a></li>
                            </ul>
                        </li>
                    
                   </ul>
                   
             
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2016</p>
                </footer>
            </div>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/js/moment.js"></script>
        <script src="~/js/moment_ru.js"></script>
        <script src="~/js/bootstrap-datetime.js"></script>
        <script src="~/js/jquery.dataTables.js"></script>
        <script src="~/js/dataTables.bootstrap.js"></script>
        <script src="~/js/dataTables.responsive.js"></script>
        <script src="~/js/docxjs.js"></script>
        <script src="~/js/file-saver.js"></script>
        <script src="~/js/jszip-utils.js"></script>
        <script src="~/js/main.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">

        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.datetime').datetimepicker({
                locale: 'ru'
            });
            $('.onlydate').datetimepicker({
                locale: 'ru',
                format: 'dd-MM-yyyy'

            });
            $('.onlytime').datetimepicker({
                locale: 'ru',
                format: 'LT'
            });
        });
    </script>


    @await Html.PartialAsync("_ValidationScriptsPartial")

@RenderSection("scripts", required: false)

  
</body>
</html>
